/* Sizing, margin and padding */
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background image for the wrapper */
.wrapper {
    background-color: #f5f5f5;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.form-container {
    background-color: #ffffff;
    padding: 22px 0;
    margin: 20px 10px;
}


/* Color of row #1, w/ border*/
header {
    background-color: white;
    border-bottom: 1px solid #4AAAA5;
}

.top-header {
    justify-content: space-between;
}

/* Background color for h1 tag, aligns text to center, added padding */
h1 {
    background-color: slategrey;
    text-align: center;
    padding:10px;
    color: white;
}


/*button colors and shadow*/
.btn, btn-primary {
    background-color: slategrey;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#contactInfo {
    background-color: white;
    color: black;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Footer:color, background color,sizing, text alignment and border */ 
footer {
    color: white;
    background-color: slategrey;
    height:50px;
    text-align: center;
    padding: 10px;
    border-top: 5px solid #4AAAA5;
}


/*social media link padding, sizing and text styles*/
.fa {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  /*linkedin colors*/
.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
